/*colors*/
$theme-color: hsla(0, 0%, 98%, 1);
$primary-color-intense: hsla(199, 100%, 32%, 1);
$primary-color-soft: hsla(190, 57%, 64%, 1);
$secondary-color-intense: hsla(350, 94%, 68%, 1);
$secondary-color-soft: hsla(350, 90%, 76%, 1);
$neutral-color-black: hsla(0, 0%, 0%, 1);
$neutral-color-white: hsla(0, 0%, 93%, 1);
$neutral-color-grey: hsla(0, 4%, 28%, 1);
