@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-UltraLight-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-UltraLight-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-UltraLight-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-UltraLight-webfont.ttf")
      format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-Thin-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-Thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-Thin-webfont.woff") format("woff"),
    url("../../assets/fonts/Aileron/Aileron-Thin-webfont.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-Light-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-Light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-Light-webfont.woff") format("woff"),
    url("../../assets/fonts/Aileron/Aileron-Light-webfont.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-Black-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-Black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-Black-webfont.woff") format("woff"),
    url("../../assets/fonts/Aileron/Aileron-Black-webfont.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-Regular-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-Regular-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-Regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-BlackItalic-webfont.ttf");
  src: url("../../assets/fonts/Aileron/Aileron-BlackItalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-BlackItalic-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-BlackItalic-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-Bold-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-Bold-webfont.woff") format("woff"),
    url("../../assets/fonts/Aileron/Aileron-Bold-webfont.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-BoldItalic-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-BoldItalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-BoldItalic-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-BoldItalic-webfont.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-Heavy-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-Heavy-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-Heavy-webfont.woff") format("woff"),
    url("../../assets/fonts/Aileron/Aileron-Heavy-webfont.ttf")
      format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-HeavyItalic-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-HeavyItalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-HeavyItalic-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-HeavyItalic-webfont.ttf")
      format("truetype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-SemiBold-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-SemiBold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-SemiBold-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-SemiBold-webfont.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "aileron";
  src: url("../../assets/fonts/Aileron/Aileron-SemiBoldItalic-webfont.woff");
  src: url("../../assets/fonts/Aileron/Aileron-SemiBoldItalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Aileron/Aileron-SemiBoldItalic-webfont.woff")
      format("woff"),
    url("../../assets/fonts/Aileron/Aileron-SemiBoldItalic-webfont.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

$font-inter: "aileron";
 