@use "../base/colors" as c;

@use "../utilities/function" as f;

@use "../utilities/breakpoints" as b;

.article {
  width: 100vw;
  min-height: 100px;
  max-height: 600px;
  height: 50vh;
  margin: 1rem 0;
  &__title-blue {
    color: c.$primary-color-intense;
  }
  &__title-pink {
    color: c.$secondary-color-intense;
  }
  &--box {
    background-color: c.$secondary-color-intense;
    width: 100%;
  }
  &__title-main {
    font-weight: bolder;
    color: c.$neutral-color-white;
    font-size: 10vh;
    transform: rotate(270deg) translate(-150px, 25px);
    margin: 0;
    width: 20%;
    height: fit-content;
    @include b.breakpoint(medium) {
      transform: rotate(270deg) translate(-200px, 60px);
    }
  }
  &__img {
    width: 60%;
  }

  &__paragraph {
    margin-top: f.size(2);

    font-weight: 200;
  }

  &--banner {
    width: 100%;
    background-color: c.$primary-color-soft;
    padding: f.size(2);
  }
  &__title {
    color: c.$neutral-color-white;
    font-size: f.size(4);
    font-weight: bold;
  }
}
.primary {
  background-image: url("../../assets/media/img/background-1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.secondary {
  background-image: url("../../assets/media/img/background-2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
