@use "../base/colors" as c;

@use "../utilities/function" as f;
.footer{
    &__logo{
        img{
            
            width: f.size(40);
        }
    }
    &__menu{
        list-style: none;
        font-weight: 200;
    }
    &__info{
        list-style: none;
        
    }
}
.icon{
    font-size: f.size(10);
    &:hover{
        color: f.tint(c.$primary-color-intense, 10%);
        transform: scale(1.5);
        transition: 50ms;
    }
}
.--pink{
    color: c.$secondary-color-intense;
    &:hover{
        transform: scale(1.5);
        color: f.tint(c.$secondary-color-intense, 10%);
        transition: 50ms;
    }
}