@use "../base/colors" as c;
#preloader {
  background: white
    url("https://icon-library.com/images/animated-icon-gifs/animated-icon-gifs-27.jpg")
    no-repeat center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
}
